<html>
<html>
    <p>Dear {{ userName }},</p>
   	<p>You are receiving this email because you {{ message }} JWS. Someone will be reaching out to you soon.</p>
   	<P>Thank you, JWS Staff</P>
    <p>The your information was received at {{ timestamp|date("Y-m-d g:i:s A") }}.</p>
</html>
